/*Variables*/
:root {
  --white: #fff;
  --ice: #f0f0f0;
  --black: #000;
  --purple: #7766cd;
  --dark-purple: #402f93;
  --primary-color: rgb(255, 255, 255);
  --gray: rgb(94, 94, 94);
  --light-gray: #c4c4c4;
  --light-gray: #a6b3bd;
  --glass: rgba(200, 200, 200, 0.4);
  --dark-glass: rgba(114, 114, 114, 0.5);
  --dark-green: #15222b;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  background-image: url(./images/space.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 80%;
}

.game-space{
  display: flex;
  flex-direction: column;
  justify-content: center;
 padding: 2rem;}

.game-menu {
  display: flex;
 flex-direction: column;
 justify-content: center;
 border-radius: 20px;
 width: 50vw;
 margin-left: 26%;
 margin-top: 12rem;

}

#Start-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
padding: 2rem;
background: var(--glass);

}

#GameOver-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
 padding: 2rem;
 background: var(--glass);

}

#Start-container span {
  font-family: var(--font);
  font-size: 2.7em;
  text-align: center;
  color: var(--white);
  border-radius: 15px;
  padding: 0.9rem;
}

#Start-container h2,
#GameOver-Container h2 {
  font-family: var(--font);
  font-size: 3.3em;
  text-align: center;
  color: var(--white);
  border-radius: 15px;
  padding: 0.9rem;
}

#Start-container a,
#GameOver-Container a {
  font-family: var(--font);
  font-size: 2em;
  color: var(--white);
  border: 2px solid white;
  border-radius: 15px;
  width: 56%;
  text-align: center;
  justify-content: center;
  padding: 1.6rem;
  margin-left: 21%;
}

#Start-container a:hover,
#GameOver-Container a:hover {
  background-color: var(--glass);
}

@media (max-width: 768px) {
  .game-menu {
   width: 50vw;
   height: 100vh;
   margin-left: 26%;
   margin-top: 12rem;
  
  }


  
  
}